// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
	overflow: scroll;
}
.wrap {
	margin: 0 auto;
 }
 .site {
  display: table;
  height: 100%;
  width: 100%;
}

/*--------------------------------------------------------------
## Grid
--------------------------------------------------------------*/
@import "../layout/grid";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "secondary/footer";