$color__background-body: #f9f9f9;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #bbff00;
$color__orange: #ff8500;
$color__complementary: #ff4400;

$color__text-screen: #21759b;
$color__dark-blue: #005676;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #00bbff;
$color__link-visited: #76ddff;
$color__link-hover: #00ffc4;
$color__link-active: #bbff00;
$color__text-main: #001219;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
