/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.site-content .comment-navigation,
.site-content .paging-navigation,
.site-content .post-navigation
.site-content .image-navigation {
	margin: 0 0 1em;
	overflow: hidden;
}
.site-content [class*="navigation"] {
	overflow: hidden;
    }

.nav-previous-page,
.image-navigation .nav-previous,
.image-navigation .previous,
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    text-align: left;
}
.nav-next-page,
.image-navigation .nav-next,
.image-navigation .next,
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
}

/* Image navigation */
.image-navigation  {
	margin-top: 12px;
	display: block;
}

.image-navigation a {
	@include font-size(0.9);
	padding: 0 0 0 6px;
	color: $color__text-main;
	text-decoration: none;
}

.image-navigation a:hover,
.meta-nav a:hover {
	color: $color__link;
}

/* pagination */
.page-numbers,
.nav-previous a,
.nav-next a,
.nav-previous-page a,
.nav-next-page a {
	@include font-size(0.8);
	background-color: white;
	color: #004a66;
	line-height: $font__line-height-body;
  letter-spacing: 0.1em;
  padding: 10px 12px;
	text-decoration: none;
	text-transform: uppercase;
	}
.page-numbers a:hover,
.nav-previous a:hover,
.nav-next a:hover,
.nav-previous-page a:hover,
.nav-next-page a:hover {
		background-color: black; /* instead of $color__link */
    color: white;
		letter-spacing: 0.1em;
		padding: 10px 12px;
		text-transform: uppercase;
	}
.page-numbers,
.prev page-numbers,
.next page-numbers {
	display: inline-block;
}

.story-title, .story-title a, .story-title li,
.post-parent-title, .post-parent-title a {
	color: black;
	display: block;
	font-size: 0.9rem;
	line-height: 1.2;
	margin: 0 auto;
	padding-top: 0.4em;
	letter-spacing: 0.12em;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.story-title a:hover, .post-parent-title a:hover {
	color: $color__link;
}

/* Can combine this with overflow-hidden to make background images grow on hover
 * even if you are using background-size: cover */

.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.grow:hover,
.grow:focus {
  transform: scale(1.05);
}

.grow:active {
  transform: scale(.90);
}

.grow-large {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform .25s ease-in-out;
}

.grow-large:hover,
.grow-large:focus {
  transform: scale(1.2);
}

.grow-large:active {
  transform: scale(.95);
}

.story-thumb img:hover,
.thumbnail img:hover {
	cursor: pointer;
	opacity:0.6;
	position: relative;
	transform: scale(1.05);
}
